html {
    height: 200px;  
    width: 200px;     
    
}
/* expands chrome extension window */

body {
    text-align: center;
}

.addtask {
    margin: 5px;
}

.timer__button {
    margin-top: 10px;
    font-size: 20px;
}

.timer__display {
    font-size: 20px;
}
