body {
    background-image: url("img/background2.png");
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;  
}

nav {
    font-size: 30px;
}

.main {
    color: white; 
    margin: 30px 30px;
}

.header {
    text-align: center;
    font-size: 50px;
    margin: 0;
}

.google-search {
    margin: auto auto;
    width: 30%;
}

.search-button {
    margin: 0;
}


.to-do {
    padding-top: 10px;
    width: 60%;
    height: 300px;
    float: right;
    border: 5px solid white;
    color: black;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: scroll;
}

.to-do a {
    text-decoration: underline;
    margin: 10px;
}

.taskField {
    width: 100%
}

.addTaskField, .prioritySelectors, .submitTask {
    display: inline-block;
    width: auto;
}

.addtask {
    margin: 5px;
}

.tasks {
    padding: 5px;
}

.pro1 {
    color: red;
}

.pro2 {
    color: orange;
}

.pro3 {
    color: green;
}

/* focus  */
.timer__button {
    margin-top: 10px;
    font-size: 20px;
}

.timer__display {
    font-size: 20px;
    padding: 10px 0;
    text-align: center;
}

.remove-button {
    font-size: 10px;
    margin: 3px;
}

.focus {
    width: 40%;
    height: 300px;
    float: left;
    border: 5px solid white;
}

#countdown {
    font-size: 70px;
}

.time-input {
    width: 200px;
    display: inline-block;
}

.form-row {
    margin: 0;
}

.controls {
    text-align: center;
    left: 30%;
}

.completed-tasks {
    text-decoration: line-through;
} 

.readouts { 
    border: 5px solid white;
}

#character {
    width: 300px;
    padding-top: 60px;
}

.character, .stats {
    display: inline-block;
    text-align: center;
}

.id-info h2 {
    display: inline-block;
    margin:15px;
}