body {
    background-image: url("img/background2.png");
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;  
}

.main {
    margin: 30px;
    color: white; 
    text-align: center;
}

.google-search {
    margin: auto auto;
    width: 30%;
    display: inline-block;

}

.search-button {
    display: inline-block;
}

.container {
    margin: 30px;
}

.to-do {
    width: 40%;
    float: right;
    text-align: center;
}