/* styles for inside individual task pages */
html {
    width:780px; 
    height:580px;
    text-align: center;
    
}

body {
    padding: 20px  20px;
}

.header h2 {
    display: inline-block;
}

.header button {
    display: inline-block;
    float: right;
}

.due-dates {
    margin: 10px;
    text-align: center;
}

.due-dates button {
    margin-top: 10px;
}