/* extends chrome extenstion window */
html {
    width:780px; 
    height:580px;
}

body {
    background-color: #f0f0f0;
    font-family: "Work Sans", sans-serif;
}

/* header */
header {
    color: black;
    text-align: center;
}

header h1 {
    margin-top: 10px;
}

header a {
    color: black;
}


header a:hover {
    color: darkblue;
    text-decoration: none;
    
}

/* game readouts */
#character {
    width: 100px;
}

.readouts {
  text-align: center;
}

.readout-comp {
    display: inline-block;
    vertical-align: middle;
    margin: auto 15px;
    font-size: 20px;
}  

.stat {
    margin: 10px;
}

#hp-readout {
    color: #FF5656;
    margin: 10px;

}

#level-readout {
    color: #6A7EFC;
    margin: 10px;

}


/* to do  */
 .to-do {
    width: 40%;
    float: right;
    text-align: center;
}

.to-do a {
    text-decoration: underline;
    margin: 10px;
}

.addtask {
    margin: 5px;
}

.tasks {
    padding: 5px;
}

/* focus  */
.timer__button {
    margin-top: 10px;
    font-size: 20px;
}

.time_select {
    margin-top: 100px;
}

.timer__display {
    font-size: 20px;
    padding: 70px 0;
    text-align: center;
}

.remove-button {
    font-size: 10px;
    margin: 3px;
}

.focus {
    width: 60%;
    float: left;
}

#countdown {
    font-size: 70px;
}

.controls {
    position: fixed;
    left: 30%;
    bottom: 20px;
    transform: translate(-50%);
    margin: 0 auto;
}

.completed-tasks {
    text-decoration: line-through;
} 
